*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(bg.gif);
    background-repeat: repeat-y;
    background-position: center;
    background-color: #eaeaea;
}
h1{
    margin: 30px;
    text-align: center;

}
#wrapper{
    width: 780px;
    margin: 0 auto;
    background-color: #afa;
    height: 100vh;
    border: 1px solid #afa;
}
.container{
    width: 400px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px auto;
    overflow: auto;
    overflow: visible;
    overflow: hidden; 
    overflow: scroll;
    overflow: auto;/*solo l'ultima conta e copre le altre*/
}